<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        id        = "rephelp2.com.scknss.www"
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Rep Help</name>

    <description>
        Making a simple product catalogue
    </description>

    <author href="http://www.scknss.com" email="emile@scknss.com">
        Emile
    </author>
    
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="2.9.0" />
    
    <access origin="*" />
    
</widget>